In [1]:
import pandas as pd

df = pd.read_csv('GPSData.csv')
df.head()

,Time (s),Latitude (°),Longitude (°),Altitude (m),Altitude WGS84 (m),Speed (m/s),Direction (°),Distance (km),Horizontal Accuracy (m),Vertical Accuracy (m),Satellites
0,0.210700,64.966037,25.613784,18.893231,36.399998,NaN,NaN,0.000000,56.020000,1.000000,0.0
1,1.610534,64.966037,25.613784,-17.506767,0.000000,0.00,0.000000,0.010313,56.020000,1.000000,2.0
2,3.041460,64.966016,25.613998,13.315450,30.822266,1.07,60.599998,0.012067,6.492342,10.774938,0.0
3,4.041342,64.966023,25.614032,16.905783,34.412598,0.80,24.200001,0.013102,4.336436,4.538447,30.0
4,5.041936,64.966017,25.614014,17.641132,35.147949,0.17,24.200001,0.014685,4.337386,2.901013,34.0

In [2]:
df = pd.read_csv('Sijainti.csv')
df.head()

,Time (s),Latitude (°),Longitude (°),Height (m),Velocity (m/s),Direction (°),Horizontal Accuracy (m),Vertical Accuracy (m)
0,0.053476,64.966426,25.613800,18.993602,NaN,NaN,151.337997,22.223297
1,0.075421,64.966426,25.613800,18.993602,NaN,NaN,151.492004,22.254095
2,0.565861,64.966160,25.614135,5.234270,1.13,17.200001,3.790092,2.500000
3,2.036944,64.966110,25.614058,5.943521,0.00,0.000000,3.814777,4.618597
4,2.607780,64.966110,25.614057,6.025004,0.00,NaN,3.932439,4.618597

In [3]:
df = pd.read_csv('Kiihtyvyys.csv')
df.head()

,Time (s),Linear Acceleration x (m/s^2),Linear Acceleration y (m/s^2),Linear Acceleration z (m/s^2)
0,0.033491,0.361473,0.056772,0.212620
1,0.038551,0.418941,0.064452,0.274851
2,0.043604,0.367447,0.017955,0.261076
3,0.048607,0.327732,-0.030915,0.237305
4,0.053610,0.280094,0.023838,0.165927