In [1]:
import pandas as pd

df = pd.read_csv('GPSData.csv')
df.head()

,Time (s),Latitude (°),Longitude (°),Altitude (m),Altitude WGS84 (m),Speed (m/s),Direction (°),Distance (km),Horizontal Accuracy (m),Vertical Accuracy (m),Satellites
0,0.210700,64.966037,25.613784,18.893231,36.399998,NaN,NaN,0.000000,56.020000,1.000000,0.0
1,1.610534,64.966037,25.613784,-17.506767,0.000000,0.00,0.000000,0.010313,56.020000,1.000000,2.0
2,3.041460,64.966016,25.613998,13.315450,30.822266,1.07,60.599998,0.012067,6.492342,10.774938,0.0
3,4.041342,64.966023,25.614032,16.905783,34.412598,0.80,24.200001,0.013102,4.336436,4.538447,30.0
4,5.041936,64.966017,25.614014,17.641132,35.147949,0.17,24.200001,0.014685,4.337386,2.901013,34.0

In [11]:
df = pd.read_csv('combined.csv')
df.head()

,Time (s),Linear Acceleration x (m/s^2),Linear Acceleration y (m/s^2),Linear Acceleration z (m/s^2),Latitude (°),Longitude (°),Altitude (m),Altitude WGS84 (m),Speed (m/s),Direction (°),Distance (km),Horizontal Accuracy (m),Vertical Accuracy (m),Satellites
0,0.033491,0.361473,0.056772,0.212620,64.966037,25.613784,18.893231,36.399998,NaN,NaN,0.000000,56.020000,1.000000,0.0
1,0.038551,0.418941,0.064452,0.274851,64.966037,25.613784,-17.506767,0.000000,0.00,0.000000,0.010313,56.020000,1.000000,2.0
2,0.043604,0.367447,0.017955,0.261076,64.966016,25.613998,13.315450,30.822266,1.07,60.599998,0.012067,6.492342,10.774938,0.0
3,0.048607,0.327732,-0.030915,0.237305,64.966023,25.614032,16.905783,34.412598,0.80,24.200001,0.013102,4.336436,4.538447,30.0
4,0.053610,0.280094,0.023838,0.165927,64.966017,25.614014,17.641132,35.147949,0.17,24.200001,0.014685,4.337386,2.901013,34.0

In [13]:
import pandas as pd

# Read CSV files
df_a = pd.read_csv("Kiihtyvyys.csv")
df_m = pd.read_csv("Uusi_GPS.csv")

combined = pd.concat(
    [df_a.reset_index(drop=True),
     df_m.reset_index(drop=True)],
    axis=1
)

combined.to_csv("combined.csv", index=False)